* {
    margin: 0;
    padding: 0;
}

.clearFix {
    clear: both;
}

.Search {
    width: 500px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

img{
    width: 100%;
    height: 100%;
}

.imgDiv {
    float: left;
    width: 10%;
    display: inline;
}

.secondDiv {
    float: left;
    width: 80%;
    margin-left: 20px;
}

.secondDiv h2 {
    text-align: left;
}

.secondDiv p {
    text-align: left;
    font-weight: 500;
    color: grey;
}

.secondDiv a{float: left;}

.searchForm {
    text-align: left;
}

.searchForm input[type=search] {
    clear: both;
    width: 70%;
    padding: 10px 10px;
    border: 1px solid #cccccc;
    font-weight: 500;
    border-radius: 2px;
    margin-right: 20px;
    height: 50px;
    float: left;
}

.selectDiv {
    float: left;
    width: 25%;
    position: relative;
}

.searchForm select {
    appearance: none;
    
    height: 50px;
    padding: 0px 24px;
    color: #cccccc;
    font-weight: 500;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 2px;
    color: grey;
}
  
.selectDiv::after {
    content: "▼";
    font-size: 1rem;
    top: 16px;
    right: 10px;
    position: absolute;
    color: #cccccc;
}

.Cards {
    margin-top: 100px;
}

.UserCard, .RepoCard, .IssueCard {
    margin-bottom: 20px;
}

.RepoCard, .IssueCard {
    text-align: left;
}

